# dependencies
node_modules/
/.pnp
.pnp.js

# production
/.next/
/out/

# env files — NUNCA commitar chaves de API
.env
.env.local
.env.*.local

# debug
npm-debug.log*

# misc
.DS_Store
*.pem
.vercel
